node_modules
test-results
allure-results
my-ext
playwright-report
test-result.json
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/test-cases/148fb64ae14fe3e0.json
allure-report/data/test-cases/18552f895252d9c.json
allure-report/data/test-cases/1a31cbdb9c160c29.json
allure-report/data/test-cases/2256fd0281c6d3b2.json
allure-report/data/test-cases/2bfbd12ef0571dc1.json
allure-report/data/test-cases/2d980383dbe55bf3.json
allure-report/data/test-cases/30c30754ace320ef.json
allure-report/data/test-cases/31180896d49340e0.json
allure-report/data/test-cases/515d0b8baffc82af.json
allure-report/data/test-cases/53875e3d20e463e1.json
allure-report/data/test-cases/6450355b39dd47f7.json
allure-report/data/test-cases/6787b2f628faa983.json
allure-report/data/test-cases/6bff9db1e029c2ae.json
